#root {
  margin: 0 auto;
  text-align: center;
  background-color: darkgray;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sidebar {
    width: 10vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content {
    padding: 10px;
    border-radius: 25px;
    flex-grow: 1;
    background-color: lightgreen;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}