body {
    background-color: black;
}

#root {
  margin: 0 auto;
  text-align: center;
  background-color: black;
}

.container {
    width: 80vw;
    height:80vh;
    display: flex;
}

.sidebar {
    border-radius: 12px; /* Rounded corners */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content {
    padding: 10px;
    border-radius: 25px;
    flex-grow: 1;
    background-color: lightgreen;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
  position: relative;
  padding-top: 20px;
}

.interactive {
    color: white; /* Text color */
    background-color: gray;
    border: 2px solid darkgray; /* Dark gray edge */
    transition: background-color 0.3s;
    cursor: pointer;
}

.interactive:hover {
  background-color: #e0e0e0;
}

.language-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
}

.lang-button {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 12px;
}

