#root {
  margin: 0 auto;
  text-align: center;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: maroon;
}

.sidebar {
    width: 10vw;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content {
    flex-grow: 1;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}